.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.not-found-image {
  width: 90%;
}
.not-found-heading {
  font-family: 'Roboto';
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}
.not-found-para {
  font-family: 'Roboto';
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .not-found-image {
    width: 40%;
  }
  .not-found-heading {
    font-size: 30px;
  }
  .not-found-para {
    font-size: 24px;
  }
}
